<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
    你的浏览器好弱
</title>
<script type="text/javascript" src="../view/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>


<link rel="stylesheet" type="text/css" href="../view/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../view/css/bootstrap-theme.css"/>
<script type="text/javascript">
var ie = !-[1,];
if(!ie){
    window.location.href = "./index.html";
}

</script>
<style type="text/css">
.middle{
    position: fixed;
    text-align: center;
    top: 40%;
    left: 20%;
}
h1{font-family: "Microsoft Yahei";font-size:50px; font-weight: bolder;}
</style>
</head>
<body>
<div class="middle">
    <h1>你就不能换个内核新一点的浏览器吗？</h1>
</div>
</body>
</html>